<div class="header">
	<ul>
		<li>Run</li>
		<li>Build</li>
		<li>Configure</li>
	</ul>

</div>

<div class="selector">
	<div class="module">
		<span class="module_header">Collection</span>
		<div>
			<span class="collection_label">All Collections</span>
		</div>

		<div>
			<span class="collection_label">Wehkamp Finance</span>
			<ul>
				<li>All Collections</li>
				<li class="li_selected">All suites</li>
				<li>Regression</li>
				<li>Nightly</li>
			</ul>
		</div>

		<div class="collection_label">
			<span class="collection_label">Money@home B.V.</span>
		</div>

		<div class="collection_label">
			<span class="collection_label">Obvion</span>
		</div>

	</div>
	
	<div class="module">
		<span class="module_header">Environment</span>
	</div>

</div>

<div class="selected">

	<span ng-init="loadStories()">
		<ul class="unstyled">
			<li ng-repeat="story in stories">
				<input type="checkbox" value="{{story.text}}" check-list='checkedStories'>
				<span class="done-{{story.done}}">{{story.text}}</span>
			</li>
		</ul>
	<div>The following stories are checked: {{checkedStories | json}}</div>
	
	<button ng-click='submitStories()'>Run All</button>


</div>

<div class="overview">
	<ul>
		<li>Customers</li>
		<li>Financial Transactions</li>
		<li>Orders</li>
		<li>Payments</li>
		<li>Internal</li>
		<li>Manual</li>
		<li>Matching</li>
		<li>Products</li>
		<li>Jobs</li>
		<li>UI</li>
	</ul>

</div>


